<form [formGroup]="form" #myForm="ngForm" (ngSubmit)="pushData()">
  <div class="container-fluid">
    <div class="my-fieldset">
      <h2>Gestionnaire
      </h2>
      <hr>
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <mat-form-field appearance="outline">
            <mat-label>Sélectionnez un délégué</mat-label>
            <mat-select (selectionChange)="onSelectAgent($event)" formControlName="r_agent">
              <mat-option [value]="agent.value" *ngFor="let agent of agentList">{{agent.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="hasError('r_agent', 'required')">
              {{ errorMessages?.manager?.required }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-xs-12">
          <mat-form-field appearance="outline">
            <mat-label>Nom du délégué</mat-label>
            <input name="agent-input" matInput #agent disabled>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="my-fieldset">
      <h2>Produit
      </h2>
      <hr>
      <div class="product">
        <div class="row" [formGroup]="product">
          <div class="col-md-12 product-element">
            <mat-checkbox class="example-margin" formControlName="death">Décès</mat-checkbox>
            <mat-checkbox class="example-margin" formControlName="surgery">Churigie</mat-checkbox>
          </div>
          <!-- <div class="col-md-12 product-element" *ngIf="!product.value.death && !product.value.surgery">
            <mat-error>
              Vous devez sélectionner un produit
            </mat-error>
          </div> -->
        </div>
      </div>
    </div>
    <div class="my-fieldset">
      <h2>Information adhérent</h2>
      <hr>
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <mat-form-field appearance="outline">
            <mat-label>Nom</mat-label>
            <input matInput type="text" name="lastname" formControlName="r_nom">
            <mat-error *ngIf="hasError('r_nom', 'required')">
              {{ errorMessages?.lastname?.required }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-xs-12">
          <mat-form-field appearance="outline">
            <mat-label>Prénom(s)</mat-label>
            <input matInput type="text" name="firstname" formControlName="r_prenoms">
            <mat-error *ngIf="hasError('r_prenoms', 'required')">
              {{ errorMessages?.firstname?.required }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <mat-form-field appearance="outline">
            <mat-label>Date de naissance</mat-label>
            <input matInput type="date" name="birthdate" formControlName="r_date_naissance">
            <mat-error *ngIf="hasError('r_date_naissance', 'required')">
              {{ errorMessages?.birthdate?.required }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-xs-12 sex">
          <label id="example-radio-group-label">Sexe: </label>
          <div class="row">
            <div class="col-md-12">
              <mat-radio-group aria-label="Sexe" formControlName="r_sexe">
                <mat-radio-button value="1">Féminin</mat-radio-button>
                <mat-radio-button value="2">Masculin</mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="col-md-12">
              <mat-error *ngIf="hasError('r_sexe', 'required')">
                {{ errorMessages?.sex?.required }}
              </mat-error>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <mat-form-field appearance="outline">
            <mat-label>Téléphone</mat-label>
            <mat-icon class="tel-prefix" matPrefix>phone</mat-icon>
            <input matInput type="tel" name="telephone" formControlName="r_telephone">
            <mat-error *ngIf="hasError('r_telephone', 'required')">
              {{ errorMessages?.phone?.required }}
            </mat-error>
            <mat-error *ngIf="hasError('r_telephone', 'minLength')">
              {{ errorMessages?.phone?.minLength }}
            </mat-error>
            <mat-error *ngIf="hasError('r_telephone', 'pattern')">
              {{ errorMessages?.phone?.pattern }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-xs-12 sex">
          <mat-form-field appearance="outline">
            <mat-label>Téléphone whatsapp</mat-label>
            <mat-icon class="tel-prefix" matPrefix>whatsapp</mat-icon>
            <input matInput type="tel" name="r_telephone_wha" formControlName="r_telephone_wha">
            <mat-error *ngIf="hasError('r_telephone_wha', 'required')">
              {{ errorMessages?.phone?.required }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email" name="email" formControlName="r_email">
            <mat-error *ngIf="hasError('r_email', 'required')">
              {{ errorMessages?.email?.required }}
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Type de pièce</mat-label>
            <mat-select name="typepiece" formControlName="r_type_piece">
              <mat-option value="1">CNI</mat-option>
              <mat-option value="2">Attestation d'identité</mat-option>
            </mat-select>
            <mat-error *ngIf="hasError('r_type_piece', 'required')">
              {{ errorMessages?.typepiece?.required }}
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>N° pièce</mat-label>
            <input matInput type="text" name="piecenumber" formControlName="r_numero_piece">
            <mat-error *ngIf="hasError('r_numero_piece', 'required')">
              {{ errorMessages?.piecenumber?.required }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-xs-12 sex">
          <mat-form-field appearance="outline">
            <mat-label>Téléphone whatsapp</mat-label>
            <input matInput type="tel" name="telwha">
          </mat-form-field>
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="actions">
      <button mat-stroked-button mat-dialog-close type="button">Annuler</button>
      <!-- <button *ngIf="!editMode" mat-stroked-button color="primary" class="submit-and-quit-btn" type="submit">
        Valider et Quitter
      </button> -->
      <button *ngIf="editMode" mat-raised-button class="update-btn" type="submit">
        Mettre à jour
      </button>
      <button 
        *ngIf="!editMode" 
        disabled="form.invalid && (product.value.death || product.value.surgery)" 
        mat-raised-button 
        id="test-submit-btn" 
        color="primary"
        type="submit"
      >
        Valider
      </button>
    </div>
  </div>

</form>
