<div class="container-fluid">
  <div>
    <button mat-raised-button class="back" type="button" (click)="onGoBack()">
      <mat-icon>arrow_back</mat-icon> Retour
    </button>
  </div>
  <div>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Ajout d'un nouvel adherent</mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
        <app-principal-adherent-form (submit)="$event"></app-principal-adherent-form>
      </mat-card-content>
    </mat-card>
    <div style="margin-top: 5rem;"></div>
  </div>
</div>
