$primary: #3f51b5;
$secondary: #3f51b5;

.nav-item {
  margin-left: -1.7rem;
  padding-top: 1rem;

  div .nav-label {
    position: relative;
    margin-left: -0.8rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    padding-left: 20px;
    text-decoration: none;
    color: inherit;
    .d-icon {
      flex: none;
      position: absolute;
      right: 1rem;
    }
    &:hover {
      font-weight: 500;
    } 
    &.active {
      color: $primary;
    }
  }

  div .nav-links {
    border-left: 3px solid $primary;
    margin-left: 40px;
    li {
      cursor: pointer;
      margin-bottom: 5px;
      padding-right: 10px;
      margin-left: -41px;
      font-weight: 400;
      opacity: 0.8;
      padding-left: 1.6rem;
      &:hover {
        font-weight: 500;
      }

      &.active {
        position: relative;
        &::before {
          content: '';
          position: absolute;
          left: 0;
          color: $secondary;
          width: 2px;
          height: 100%;
        }
        color: $primary;
        font-weight: 500;
      }
    }
  }
}

.active {
  &::before {
    content: '';
    position: absolute;
    left: 0;
    color: $primary;
    width: 5px;
    height: 100%;
  }
  color: $secondary;
  font-weight: bold;
}

li {
  list-style-type: none;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
